body {
    background-image: url("background.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    text-align: center;
}

img {
    width: auto;
    margin: 10px;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 95%;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
@media (max-width: 600px) {
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="date"],
    select {
        width: 90%;
    }
    form {
        width: 85%;
    }
    
    input[type="submit"] {
        width: 95%;
    }
}
